<% unless comment.archived? %>
<p> <strong>投稿者名</strong> : <%= comment.commenter %> </p>
<p> <strong>本文</strong>: <%= comment.body %> </p>
<p> <%= link_to "コメント削除", [comment.article, comment], data: {
      turbo_method: :delete,
      turbo_confirm: "コメントを削除しますか?"
    } %>
</p>
<% end %>
